<div id="navbar">
  <div id="navDivs">
    <ul id="siteTabs">
      <li class="navItem"><a class="hrefItem" href="/mobile/home">الرئيسية</a></li>
      <li class="navItem"><a class="hrefItem" href="/mobile/wall">الحائط</a></li>
      <li class="navItem"><a class="hrefItem" href="/mobile/stores">المتاجر</a></li>
      <li class="navItem"><a class="hrefItem" href="/mobile/explore">إكتشف</a></li>
    </ul>
    <ul id="userTabs">
      <li class="navItem"><a class="hrefItem" href="/mobile/signup">التسجيل </a>/</li>
      <li class="navItem"><a class="hrefItem" href="/mobile/login"> تسجيل الدخول</a></li>
    </ul>
  </div>
</div>
