<div id="navbar">
  <div id="navDivs">
    <ul id="siteTabs">
      <li class="nav-item"> <a href="/"><img class="nav-item-image" src="/resources/images/Home.png" alt="home"> </a> </li>
      <li class="nav-item"> <a href="/mobile/wall"><img class="nav-item-image" src="/resources/images/Wallg.png" alt="Wall"> </a> </li>
      <li class="nav-item"> <a href="/mobile/stores"><img class="nav-item-image" src="/resources/images/Storesg.png" alt="Stores"> </a> </li>
      <li class="nav-item"> <a href="/mobile/explore"><img class="nav-item-image" src="/resources/images/Exploreg.png" alt="Explore"> </a> </li>
      <li class="nav-item"> <a href="/mobile/login"><img class="nav-item-image" src="/resources/images/Loging.png" alt="Register/Login"> </a> </li>
    </ul>
  </div>
</div>
