/****************************************
Author: MrSalsa
Start-In: 06/09/2019
Name: Tajin
Version: 1
****************************************/
/*---------------------------------------------
1- *
2/ body
3/navbar
4/login
5/signup
6/wall
7/stores
8/
9/
?/media queries
----------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Lateef&display=swap');
/******** (*) *******/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Lateef', cursive;
  font-size: 14pt;
  list-style: none;
  text-decoration: none;
  text-align: center;
  color: #fc4f00;
}
/*WAREFRAME 01*/
/* *:nth-child(odd) {
  color: black !important;
  background: rgba(255, 255, 73, .1) !important;
  box-shadow: 0 0 0 1px purple !important;
}
*:nth-child(even) {
  color: black !important;
  background: rgba(0, 255, 85, .1) !important;
  box-shadow: 0 0 0 1px blue !important;
} */

/*WAREFRAME02*/
/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */

/******** (body) *******/
body {
  background: #fcfcfc;
  direction: rtl;
}
/******** (navbar) *******/
#navbar {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100%;
  padding: 5px 0px 0px;
  background: #FCFCFC;
  box-shadow: 0px 0px 8px -5px gray;
  z-index: 1;
}
#siteTabs{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-item{
  /* background-color: lightgray; */
}
.nav-item-image{
  height: 35px;
  filter: grayscale(1);
}
.active{
  filter: grayscale(0) !important;
}

/******** (login) *******/
.login{
  height: 90vh;
  background-image: url('../images/login-background.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
#form-container-login{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.social-login{
  margin: 0px 0px 10px;
}
#social-fb{
  width: 70vw;
  color: white;
  background: #2171f2;
  font-size: 15pt;
  border-radius: 3px;
  border: 0px;
}
#social-tw{
  width: 70vw;
  margin: 10px 0px;
  color: white;
  background: #30b4f2;
  font-size: 15pt;
  border-radius: 3px;
  border: 0px;
}
#social-gl{
  width: 70vw;
  color: white;
  background: red;
  font-size: 15pt;
  border-radius: 3px;
  border: 0px;
}
.login-info{
  display: flex;
  flex-direction: column;
}
.input{
  width: 90vw;
  padding: 3px 0px;
  margin: 0px 0px 3px;
  border: 1px #fc4f00 solid;
  border-radius: 50px;
}
#login-btn{
  width: 90vw;
  padding: 2px 0px;
  margin: 20px 0px 10px;
  color: white;
  background: #fc4f00;
  font-size: 18pt;
  border: 1px #fc4f00 solid;
  border-radius: 50px;
}
#or-login>a{
  color: gray;
}

img{
  height: 100px;
}
