/****************************************
Author: MrSalsa
Start-In: 06/09/2019
Name: Tajin
Version: 1
****************************************/
/*---------------------------------------------
1- *
2/ body
3/navbar
4/login
5/signup
6/wall
7/stores
8/
9/
?/media queries
----------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Lateef&display=swap');
/******** (*) *******/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Lateef', cursive;
  font-size: 14pt;
  list-style: none;
  text-decoration: none;
  text-align: center;
  color: #fc4f00;
}
/*WAREFRAME 01*/
/* *:nth-child(odd) {
  color: black !important;
  background: rgba(255, 255, 73, .1) !important;
  box-shadow: 0 0 0 1px purple !important;
}
*:nth-child(even) {
  color: black !important;
  background: rgba(0, 255, 85, .1) !important;
  box-shadow: 0 0 0 1px blue !important;
} */

/*WAREFRAME02*/
/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */

/******** (body) *******/
body {
  background: #fcfcfc;
  direction: rtl;
}
/******** (navbar) *******/
#navbar {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100%;
  padding: 5px 0px 0px;
  background: #FCFCFC;
  box-shadow: 0px 0px 8px -5px gray;
  z-index: 1;
}
#siteTabs{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-item{
  /* background-color: lightgray; */
}
.nav-item-image{
  height: 35px;
  filter: grayscale(1);
}
.active{
  filter: grayscale(0) !important;
}

/******** (login) *******/
#form-container-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px 0px;
}
.social-login{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0px 0px;
  background: rgba(220,220,220,0.2);
}
.login-input-img>img{
  height: 40px;
  margin: 0px 15px;
  border-radius: 50%;
}
.login-input-img>img:hover{
  box-shadow: 0px 0px 8px 0px #fc4f00;
}
#login-with{
  width: 100%;
  padding: 10px 0px;
  color: gray;
  text-align: center;
  font-size: 16pt;
  font-weight: 600;
}
.login-info-container, .signup-info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 5px 0px;
  background: rgba(220,220,220,0.2);
}
.login-info{
  display: flex;
  flex-direction: column;
}
.login-input, .input-signup{
  width: 90vw;
  padding: 3px 0px;
  margin: 0px 0px 3px;
  border: 1px #fc4f00 solid;
  border-radius: 50px;
}
.login-input:focus, .input-signup:focus{
  outline: none;
  box-shadow: 0px 0px 8px -2px #fc4f00;
}
#login-btn, #signup-btn{
  width: 90vw;
  padding: 2px 0px;
  margin: 10px 0px;
  color: white;
  background: #fc4f00;
  font-size: 18pt;
  border: 1px #fc4f00 solid;
  border-radius: 50px;
}
#or-login>a{
  color: gray;
}

/******** (signup) *******/
#signup-body{
  height: 80vh;
}
#form-container{
  display: flex;
  flex-direction: column;
}
.social-signup{
  margin: 10px 0px 0px;
}
.signup-info-container{
  margin-bottom: 40px;
}
.select-signup{
  padding-right: 40%;
  background: white;
}


/******** (wall) *******/
#body-wall{
  background: rgba(200,200,200, 0.2);
}
#body{
  margin-bottom: 40px;
}
#posts{
  display: flex;
  flex-direction: column;
}
.card:first-child{
  margin: 0px 0px 10px;
}
.card{
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  margin: 10px 0px;
  background: white;
  box-shadow: 0px 0px 5px -2px gray;
}
.card-header{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 5px;
}
.user{
  display: flex;
}
.user-pic{
  height: 40px;
  border-radius: 50%;
}
.user-info{
  padding: 3px 5px 0px 0px;
}
.user-name{
  margin-bottom: -8px;
}
.user-info>p{
  color: lightgray;
  font-size: 12pt;
}
.post-other-options-dots{
  font-size: 16pt;
  font-weight: 900;
}
.post-detail-text{
  padding: 0px 8px 5px;
  color: gray;
}
.post-detail-pic{
  height: auto;
  width: 100vw;
  margin: 5px 0px 0px;
}
.post-stats-container{
  display: flex;
  flex-direction: column;
}
.post-stats{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.likes-comments{
  display: flex;
}
.post-likes, .post-comments, .post-shares{
  display: flex;
  flex-direction: column;
}
.post-comments{
  padding: 0px 15px;
}
.stat-icons{
  height: 20px;
  margin-bottom: -5px;
}
.stats-count{
  color: gray;
}
.post-comments-box{
  display: flex;
  margin: 5px 0px 0px;
}
.post-input{
  height: 50px;
  width: 85vw;
  border-width: 0px;
  color: rgba(0,0,0, 0.6);
  background: rgba(200,200,200, 0.2);
}
.post-input:focus{
  outline-color: #fc4f00;
}
.post-submit{
  height: 50px;
  width: 15vw;
  color: white;
  background: #fc4f00;
  border-width: 0px;
}
.post-submit:active{
  color: #fc4f00;
  background:white;
  outline-color: #fc4f00;
}

img{
  height: 100px;
}
