<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>طاجين</title>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="resources/css/style.css">
</head>
<body>
  <% include partials/nav.ejs %>

  <section id="store-container">
    <div id="store-search">
      <input class="store-search" type="text" name="search" placeholder="إبحث..">
      <input class="store-search" type="text" name="recipeType" placeholder="نوع الوصفة">
      <input class="store-search" type="text" name="mostValued" placeholder="الأكثر تقييما">
    </div>
    <div id="store-card-container">
      <div class="store-card">
        <div class="store-card-header">
          <img class="store-card-header-pic" src="resources/images/msg.png" alt="message">
          <img class="store-card-header-pic" src="resources/images/add.png" alt="follow">
        </div>
        <div class="store-card-body">
          <img class="store-picture" src="https://avatars3.githubusercontent.com/u/21?v=4" alt="store-pic">
          <p class="store-card-name">الشاف حيدر</p>
          <div class="store-card-tags">
            <p class="store-tag">#الطارف</p>
            <p class="store-tag">#حلويات</p>
          </div>
            <div class="store-card-rate">
              <p class="store-card-rate-text">التقييم :</p>
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/unstar.png" alt="unstar">
            </div>
        </div>
      </div>
      <div class="store-card">
        <div class="store-card-header">
          <img class="store-card-header-pic" src="resources/images/msg.png" alt="message">
          <img class="store-card-header-pic" src="resources/images/followed.png" alt="follow">
        </div>
        <div class="store-card-body">
          <img class="store-picture" src="https://avatars3.githubusercontent.com/u/21?v=4" alt="store-pic">
          <p class="store-card-name">الشاف حيدر</p>
          <div class="store-card-tags">
            <p class="store-tag">#الطارف</p>
            <p class="store-tag">#حلويات</p>
          </div>
            <div class="store-card-rate">
              <p class="store-card-rate-text">التقييم :</p>
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/unstar.png" alt="unstar">
            </div>
        </div>
      </div>
      <div class="store-card">
        <div class="store-card-header">
          <img class="store-card-header-pic" src="resources/images/msg.png" alt="message">
          <img class="store-card-header-pic" src="resources/images/add.png" alt="follow">
        </div>
        <div class="store-card-body">
          <img class="store-picture" src="https://avatars3.githubusercontent.com/u/21?v=4" alt="store-pic">
          <p class="store-card-name">الشاف حيدر</p>
          <div class="store-card-tags">
            <p class="store-tag">#الطارف</p>
            <p class="store-tag">#حلويات</p>
          </div>
            <div class="store-card-rate">
              <p class="store-card-rate-text">التقييم :</p>
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/unstar.png" alt="unstar">
            </div>
        </div>
      </div>
      <div class="store-card">
        <div class="store-card-header">
          <img class="store-card-header-pic" src="resources/images/msg.png" alt="message">
          <img class="store-card-header-pic" src="resources/images/followed.png" alt="follow">
        </div>
        <div class="store-card-body">
          <img class="store-picture" src="https://avatars3.githubusercontent.com/u/21?v=4" alt="store-pic">
          <p class="store-card-name">الشاف حيدر</p>
          <div class="store-card-tags">
            <p class="store-tag">#الطارف</p>
            <p class="store-tag">#حلويات</p>
          </div>
            <div class="store-card-rate">
              <p class="store-card-rate-text">التقييم :</p>
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/unstar.png" alt="unstar">
            </div>
        </div>
      </div>
      <div class="store-card">
        <div class="store-card-header">
          <img class="store-card-header-pic" src="resources/images/msg.png" alt="message">
          <img class="store-card-header-pic" src="resources/images/add.png" alt="follow">
        </div>
        <div class="store-card-body">
          <img class="store-picture" src="https://avatars3.githubusercontent.com/u/21?v=4" alt="store-pic">
          <p class="store-card-name">الشاف حيدر</p>
          <div class="store-card-tags">
            <p class="store-tag">#الطارف</p>
            <p class="store-tag">#حلويات</p>
          </div>
            <div class="store-card-rate">
              <p class="store-card-rate-text">التقييم :</p>
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/unstar.png" alt="unstar">
            </div>
        </div>
      </div>
      <div class="store-card">
        <div class="store-card-header">
          <img class="store-card-header-pic" src="resources/images/msg.png" alt="message">
          <img class="store-card-header-pic" src="resources/images/add.png" alt="follow">
        </div>
        <div class="store-card-body">
          <img class="store-picture" src="https://avatars3.githubusercontent.com/u/21?v=4" alt="store-pic">
          <p class="store-card-name">الشاف حيدر</p>
          <div class="store-card-tags">
            <p class="store-tag">#الطارف</p>
            <p class="store-tag">#حلويات</p>
          </div>
            <div class="store-card-rate">
              <p class="store-card-rate-text">التقييم :</p>
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/unstar.png" alt="unstar">
            </div>
        </div>
      </div>
      <div class="store-card">
        <div class="store-card-header">
          <img class="store-card-header-pic" src="resources/images/msg.png" alt="message">
          <img class="store-card-header-pic" src="resources/images/add.png" alt="follow">
        </div>
        <div class="store-card-body">
          <img class="store-picture" src="https://avatars3.githubusercontent.com/u/21?v=4" alt="store-pic">
          <p class="store-card-name">الشاف حيدر</p>
          <div class="store-card-tags">
            <p class="store-tag">#الطارف</p>
            <p class="store-tag">#حلويات</p>
          </div>
            <div class="store-card-rate">
              <p class="store-card-rate-text">التقييم :</p>
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/unstar.png" alt="unstar">
            </div>
        </div>
      </div>

      <div class="store-card">
        <div class="store-card-header">
          <img class="store-card-header-pic" src="resources/images/msg.png" alt="message">
          <img class="store-card-header-pic" src="resources/images/followed.png" alt="follow">
        </div>
        <div class="store-card-body">
          <img class="store-picture" src="https://avatars3.githubusercontent.com/u/21?v=4" alt="store-pic">
          <p class="store-card-name">الشاف حيدر</p>
          <div class="store-card-tags">
            <p class="store-tag">#الطارف</p>
            <p class="store-tag">#حلويات</p>
          </div>
            <div class="store-card-rate">
              <p class="store-card-rate-text">التقييم :</p>
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/star.png" alt="star">
              <img class="store-star" src="resources/images/unstar.png" alt="unstar">
            </div>
        </div>
      </div>
    </div>
  </section>

  <script src="resources/js/index.js" type="text/javascript"></script>
</body>
</html>
