<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>طاجين</title>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="resources/css/style.css">
</head>
<body>
  <% include partials/nav.ejs %>
  <div class="ad">
    <p id="this-is-ad">إعلان</p>
    <h2 id="add-size">1035x231</h2>
  </div>

  <script src="resources/js/index.js" type="text/javascript"></script>
</body>
</html>
