<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>طاجين || الرئيسية</title>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="/resources/css/style-phone.css">
</head>
<body>
  <%- include('partials/nav-phone.ejs', {data: "home", status: 'active'}) %>

  <h1>Device Type Is : <span style="color: green;"><%= device %></span> </h1>



<script src="/resources/js/index-phone.js" type="text/javascript"></script>
</body>
</html>
