<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>طاجين</title>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="/resources/css/style-phone.css">
</head>
<body>
  <% include partials/nav-phone.ejs %>
  <section id="body">
    <div class="ad">
      <p id="this-is-ad">إعلان</p>
      <h2 id="ad-size">1035x231</h2>
    </div>
    <section id="container">
      <section id="posts">

      <div class="card">
        <div class="card-header">
          <div class="user">
            <img class="user-pic" src="https://avatars0.githubusercontent.com/u/3?v=4" alt="pic">
            <div class="user-info">
              <h4 class="user-name" class="name">سمير الشاف</h4>
              <p class="post-time">منذ 15 دقيقة</p>
            </div>
          </div>
          <div class="post-other-options"> <p class="post-other-options-dots">...</p> </div>
        </div>
        <div class="post-details">
          <!-- <p class="post-detail-text" class="post-text">بارتاجي هذا قاطو للحباب , قاطو تاع قعدات</p> -->
          <img class="post-detail-pic" src="https://scontent-mrs2-1.xx.fbcdn.net/v/t1.0-9/66699785_594421657631487_6986794751202689024_n.jpg?_nc_cat=101&_nc_oc=AQkkUhvkgXukrTOKBSYLmzMuPaf2OmwIso_DB-keQcBj06PwUPX66ACiI5I1sX89MR4&_nc_ht=scontent-mrs2-1.xx&oh=fac9cd5b2d573a31292361654fd7c805&oe=5DF8F679" alt="cake">
        </div>
        <div class="post-stats-container">
          <div class="post-stats">
            <div class="likes-comments">
            <div class="post-likes">
              <img class="stat-icons" src="/resources/images/heart.png" alt="likes">
              <p class="stats-count">32</p>
            </div>
            <div class="post-comments">
              <img class="stat-icons" src="/resources/images/comment1.png" alt="comments">
              <p class="stats-count">10</p>
            </div>
            </div>
            <div class="post-shares">
              <img class="stat-icons" src="/resources/images/share.png" alt="shares">
              <p class="stats-count">14</p>
            </div>
          </div>
          <form class="post-comments-box">
            <input class="post-input" type="text" name="comment" placeholder="علق هنا.." required>
            <button class="post-submit" type="button" name="button">علق</button>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="user">
            <img class="user-pic" src="https://avatars0.githubusercontent.com/u/1?v=4" alt="pic">
            <div class="user-info">
              <h4 class="user-name" class="name">سمير الشاف</h4>
              <p class="post-time">منذ 15 دقيقة</p>
            </div>
          </div>
          <div class="post-other-options"> <p class="post-other-options-dots">...</p> </div>
        </div>
        <div class="post-details">
          <p class="post-detail-text" class="post-text">بارتاجي هذا قاطو للحباب , قاطو تاع قعدات</p>
          <img class="post-detail-pic" src="https://scontent-mrs2-1.xx.fbcdn.net/v/t1.0-9/69969356_621574828249503_5305317051978481664_n.jpg?_nc_cat=103&_nc_oc=AQmfdDMUx-xSH33lna8fPQI3mNPJhunLQaPDPRiv2C1TfsqcPxVeLlWDxen3cZ-r77E&_nc_ht=scontent-mrs2-1.xx&oh=59241c03acfa5c1b6ab0cec9284bb3b0&oe=5DF46447" alt="cake">
        </div>
        <div class="post-stats-container">
          <div class="post-stats">
            <div class="likes-comments">
            <div class="post-likes">
              <img class="stat-icons" src="/resources/images/heart.png" alt="likes">
              <p class="stats-count">32</p>
            </div>
            <div class="post-comments">
              <img class="stat-icons" src="/resources/images/comment1.png" alt="comments">
              <p class="stats-count">10</p>
            </div>
            </div>
            <div class="post-shares">
              <img class="stat-icons" src="/resources/images/share.png" alt="shares">
              <p class="stats-count">14</p>
            </div>
          </div>
          <form class="post-comments-box">
            <input class="post-input" type="text" name="comment" placeholder="علق هنا.." required>
            <button class="post-submit" type="button" name="button">علق</button>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="user">
            <img class="user-pic" src="https://avatars0.githubusercontent.com/u/1?v=4" alt="pic">
            <div class="user-info">
              <h4 class="user-name" class="name">سمير الشاف</h4>
              <p class="post-time">منذ 15 دقيقة</p>
            </div>
          </div>
          <div class="post-other-options"> <p class="post-other-options-dots">...</p> </div>
        </div>
        <div class="post-details">
          <p class="post-detail-text" class="post-text">بارتاجي هذا قاطو للحباب , قاطو تاع قعدات</p>
          <img class="post-detail-pic" src="https://scontent-mrs2-1.xx.fbcdn.net/v/t1.0-9/66251185_590636524676667_4254844952766316544_n.jpg?_nc_cat=104&_nc_oc=AQll0Ge8BFnWZRDOdW8yGxJ13ja30mCFGSa_l9sVe7ZdduImoWfRVqUcsvO7mEoFIV4&_nc_ht=scontent-mrs2-1.xx&oh=905d80f515c4c9b5ff52bd35db1a113c&oe=5E1247E5" alt="cake">
        </div>
        <div class="post-stats-container">
          <div class="post-stats">
            <div class="likes-comments">
            <div class="post-likes">
              <img class="stat-icons" src="/resources/images/heart.png" alt="likes">
              <p class="stats-count">32</p>
            </div>
            <div class="post-comments">
              <img class="stat-icons" src="/resources/images/comment1.png" alt="comments">
              <p class="stats-count">10</p>
            </div>
            </div>
            <div class="post-shares">
              <img class="stat-icons" src="/resources/images/share.png" alt="shares">
              <p class="stats-count">14</p>
            </div>
          </div>
          <form class="post-comments-box">
            <input class="post-input" type="text" name="comment" placeholder="علق هنا.." required>
            <button class="post-submit" type="button" name="button">علق</button>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="user">
            <img class="user-pic" src="https://avatars0.githubusercontent.com/u/1?v=4" alt="pic">
            <div class="user-info">
              <h4 class="user-name" class="name">سمير الشاف</h4>
              <p class="post-time">منذ 15 دقيقة</p>
            </div>
          </div>
          <div class="post-other-options"> <p class="post-other-options-dots">...</p> </div>
        </div>
        <div class="post-details">
          <p class="post-detail-text" class="post-text">بارتاجي هذا قاطو للحباب , قاطو تاع قعدات</p>
          <img class="post-detail-pic" src="https://scontent-mrs2-1.xx.fbcdn.net/v/t1.0-9/66722185_590637398009913_8999968041643016192_n.jpg?_nc_cat=106&_nc_oc=AQngDY6QeYJT7g8uFH5t6zGb252Qp3O2x4mTVBkHIchFn9NBBeqDZ_6tSYHe7w2deIM&_nc_ht=scontent-mrs2-1.xx&oh=b1f768403bff199552d844b2eed6c4b9&oe=5DFE3921" alt="cake">
        </div>
        <div class="post-stats-container">
          <div class="post-stats">
            <div class="likes-comments">
            <div class="post-likes">
              <img class="stat-icons" src="/resources/images/heart.png" alt="likes">
              <p class="stats-count">32</p>
            </div>
            <div class="post-comments">
              <img class="stat-icons" src="/resources/images/comment1.png" alt="comments">
              <p class="stats-count">10</p>
            </div>
            </div>
            <div class="post-shares">
              <img class="stat-icons" src="/resources/images/share.png" alt="shares">
              <p class="stats-count">14</p>
            </div>
          </div>
          <form class="post-comments-box">
            <input class="post-input" type="text" name="comment" placeholder="علق هنا.." required>
            <button class="post-submit" type="button" name="button">علق</button>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="user">
            <img class="user-pic" src="https://avatars0.githubusercontent.com/u/1?v=4" alt="pic">
            <div class="user-info">
              <h4 class="user-name" class="name">سمير الشاف</h4>
              <p class="post-time">منذ 15 دقيقة</p>
            </div>
          </div>
          <div class="post-other-options"> <p class="post-other-options-dots">...</p> </div>
        </div>
        <div class="post-details">
          <p class="post-detail-text" class="post-text">بارتاجي هذا قاطو للحباب , قاطو تاع قعدات</p>
          <img class="post-detail-pic" src="https://scontent-mrs2-1.xx.fbcdn.net/v/t1.0-9/66194871_590638471343139_164961237048754176_n.jpg?_nc_cat=102&_nc_oc=AQldxn-Q6hHiqMq42f8lw6s6rwgktJS2Hzcu58dtNrbOJYKc0l4Q7RhR3N818jy6MKc&_nc_ht=scontent-mrs2-1.xx&oh=2d7d05172f54382d77a133b7ecba478b&oe=5DC85A00" alt="cake">
        </div>
        <div class="post-stats-container">
          <div class="post-stats">
            <div class="likes-comments">
            <div class="post-likes">
              <img class="stat-icons" src="/resources/images/heart.png" alt="likes">
              <p class="stats-count">32</p>
            </div>
            <div class="post-comments">
              <img class="stat-icons" src="/resources/images/comment1.png" alt="comments">
              <p class="stats-count">10</p>
            </div>
            </div>
            <div class="post-shares">
              <img class="stat-icons" src="/resources/images/share.png" alt="shares">
              <p class="stats-count">14</p>
            </div>
          </div>
          <form class="post-comments-box">
            <input class="post-input" type="text" name="comment" placeholder="علق هنا.." required>
            <button class="post-submit" type="button" name="button">علق</button>
          </form>
        </div>
      </div>

    </section>
      <section id="ten-recipes-container">
      <div id="ten-recipes">

      </div>
    </section>
    </section>
</section>
  <script src="/resources/js/index-phone.js" type="text/javascript"></script>
</body>
</html>
