/****************************************
Author: MrSalsa
Start-In: 06/09/2019
Name: Tajin
Version: 1
****************************************/
/*---------------------------------------------
1- *
2/ body
3/navbar
4/signup
5/login
6/wall
7/
8/
9/
?/media queries
----------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Lateef&display=swap');
/******** (*) *******/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Lateef', cursive;
  font-size: 14pt;
  list-style: none;
  text-decoration: none;
  text-align: center;
  color: #fc4f00;
}
/*WAREFRAME 01*/
/* *:nth-child(odd) {
  color: black !important;
  background: rgba(255, 255, 73, .1) !important;
  box-shadow: 0 0 0 1px purple !important;
}
*:nth-child(even) {
  color: black !important;
  background: rgba(0, 255, 85, .1) !important;
  box-shadow: 0 0 0 1px blue !important;
} */

/*WAREFRAME02*/
/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */

/******** (body) *******/
body {
  background: #fcfcfc;
  direction: rtl;
  padding-top: 70px;
}
/******** (navbar) *******/
#navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  background: #FCFCFC;
  box-shadow: 0px 0px 8px -2px gray;
  z-index: 1;
}

#navDivs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

#siteTabs, #userTabs {
  display: flex;
  justify-content: center;
  width: 40%;
}

#siteTabs {
  justify-content: space-around;
  margin: 0 auto;
}

.navItem>a {
  padding: 0px 3px 9px;
}

.hrefItem:hover {
  border-bottom: 2px #fc4f00 solid;
}
/******** (signup) *******/
#form-container, #form-container-login {
  width: 70vw;
  max-width: 600px;
  margin: 0 auto;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 1px 5px -2px gray;
}

.form-head {
  height: 50px;
  padding: 10px 0px;
  box-shadow: 0px 1px 5px -2px gray;
}

.form-title {
  font-weight: 400;
}

.two-parts {
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
  margin: 10px 0px;
}

.part-one, .part-two {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.input {
  width: 100%;
  padding: 5px 0px;
  border: 1px #fc4f00 solid;
  border-radius: 3px;
}

.social-fb, .social-gl {
  padding: 2px 0px;
  margin: 5px 0px 10px;
}

.social-fb:hover, .social-gl:hover {
  color: white;
  background: #2171f2;
  border-color: transparent;
  cursor: pointer;
}

.social-gl:hover {
  background: red;
}

.field {
  color: black;
  background: #f7f7f7;
}

.part-three>h3 {
  margin-top: 20px;
  font-size: 11pt;
  font-weight: 100;
}

.part-three>button {
  width: 40%;
  padding: 5px 0px;
  margin: 3px 0px 10px;
  color: white;
  background: #fc4f00;
  border: 0px;
  border-radius: 3px;
  cursor: pointer;
}

#or-login {
  padding: 8px 0px;
}
/******** (login) *******/
.social-login {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto 0px;
}

.login {
  width: 50%;
  margin: 10px auto;
}

.social-fb-login, .social-gl-login {
  width: 48%;
}

#login-btn {
  margin-top: 10px;
}
/******** (wall) *******/
.ad {
  position: relative;
  width: 75%;
  max-width: 900px;
  padding: 50px;
  margin: 0px auto 20px;
  background: #efefef;
  border-radius: 3px;
  box-shadow: 0px 1px 5px -1px gray;
}

#this-is-ad {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0px 7px;
  color: white;
  background: lightgray;
}

#this-is-ad::after {
  position: absolute;
  top: 0px;
  right: 40.5px;
  content: "";
  border: 14px lightgray solid;
  border-color: transparent lightgray transparent transparent;
}

#ad-size {
  font-size: 54pt;
  font-weight: 400;
}

#body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  justify-content: center;
  width: 85%;
  max-width: 1035px;
  margin: 0 auto;
}

#posts {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 0px 0px 10px;
  margin: 0px auto 20px;
  background: #efefef;
  border-radius: 3px;
  box-shadow: 0px 1px 5px -1px gray;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.user {
  display: flex;
}

.user-pic {
  height: 40px;
  width: 40px;
  margin: 0px 0px 0px 5px;
  border-radius: 50%;
}

.user-name {
  margin: 0px 0px -7px;
  font-size: 15pt;
  font-weight: 200;
}

.post-time {
  color: #b5b5b5;
  font-size: 12pt;
  font-weight: 200;
}

.post-other-options-dots {
  font-size: 16pt;
  font-weight: 900;
}

.post-detail-text {
  padding: 3px 10px;
  margin: -5px 10px 5px;
  color: #4F4F4F;
  background: #e8e8e8;
}

.post-detail-pic {
  width: 100%;
}

.post-stats-container {
  display: flex;
  flex-direction: column;
}

.post-stats {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.likes-comments {
  display: flex;
}

.post-comments {
  margin: 0px 20px;
}

.stat-icons {
  width: 20px;
}

.stats-count {
  margin-top: -12px;
  font-size: 11pt;
}

.post-comments-box {
  display: flex;
}

.post-input {
  width: 90%;
  padding: 3px 10px;
  border: 0px;
  text-align: right;
}

.post-submit {
  width: 10%;
  padding: 3px 10px;
  border: 0px;
  color: white;
  background: #FC4D01;
}

#ten-recipes-container {
  min-width: 350px;
  width: 35%;
}

#ten-recipes {
  height: 400px;
  width: 90%;
  margin: 0 auto;
  background: green;
}

/******** (media queries) *******/
@media screen and (max-width: 900px) {
  #container{
    flex-wrap: wrap;
  }
  #posts {
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  #container, .card, .ad {
    width: 100%;
  }
}
